.countdown-container {
    text-align: center;
    margin-bottom: 40px;
}
.countdown-box {
    display: inline-block;
    text-align: center;
    margin: 0 15px; /*  */
}
.number {
    display: block;
    font-size: 48px; /* Stor font til tekst */
    font-weight: bold;
    margin-bottom: 5px;
}
.label {
    font-size: 16px; /* Mindre font til labels (Dage, Timer etc.) */
    color: #c8c3bc;
}