body {
    font-family: Arial, sans-serif;
    padding: 0;
    
    flex-direction: column;
    
    min-height: 100vh;
    background-color: #202223; /* Grå baggrund */
    color: #c8c3bc;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Gør kroppen fuld højde af viewport */
    margin: 0;
}

.container { 
    max-width: 600px;
    background: #181a1b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 40px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #7a00cc;
    color: white;
    border: none;
    border-radius: 4px;
}